<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" 
			 connectionString="Server=WIN-U2TD77CA49G\SQLEXPRESS;Database=universityDB;Encrypt=False;Trusted_Connection=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>